<div id="ip" style="text-align:left">
    Your private ip is : @ViewBag.ip <br />
    Your public ip is :@ViewBag.ip2ip<br />
    Country :@ViewBag.ip2c<br />
    State :@ViewBag.ip2s<br />
    City :@ViewBag.ip2ci<br />
    Zip :@ViewBag.ip2z<br />
</div>
<style>
    #ip{
        color:#000000;
        font-family:'Arial Rounded MT';
    }
    #ip:hover{
        color:#ff6a00;
        border-color:#ff6a00;
    }
</style>
